{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Wizard V1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"
    />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/colors/switch.css' %}"
    />
    <!-- Color Alternatives -->
    <link
      href="{% static 'assets/css/colors/color-2.css' %}"
      rel="alternate stylesheet"
      type="text/css"
      title="color-2"
    />
    <link
      href="{% static 'assets/css/colors/color-3.css' %}"
      rel="alternate stylesheet"
      type="text/css"
      title="color-3"
    />
    <link
      href="{% static 'assets/css/colors/color-4.css' %}"
      rel="alternate stylesheet"
      type="text/css"
      title="color-4"
    />
    <link
      href="{% static 'assets/css/colors/color-5.css' %}"
      rel="alternate stylesheet"
      type="text/css"
      title="color-5"
    />
  </head>

  <body>
    <!-- This code is use for color chooser, you can delete -->
    <div id="switch-color" class="color-switcher">
      <div class="open"><i class="fas fa-cog"></i></div>
      <h4>COLOR OPTION</h4>
      <ul>
        <li>
          <a
            class="color-2"
            onclick="setActiveStyleSheet('color-2'); return false;"
            href="#"
            ><i class="fas fa-cog"></i
          ></a>
        </li>
        <li>
          <a
            class="color-3"
            onclick="setActiveStyleSheet('color-3'); return false;"
            href="#"
            ><i class="fas fa-cog"></i
          ></a>
        </li>
        <li>
          <a
            class="color-4"
            onclick="setActiveStyleSheet('color-4'); return false;"
            href="#"
            ><i class="fas fa-cog"></i
          ></a>
        </li>
        <li>
          <a
            class="color-5"
            onclick="setActiveStyleSheet('color-5'); return false;"
            href="#"
            ><i class="fas fa-cog"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>

    <div class="wrapper">
      <div class="steps-area steps-area-fixed">
        <div class="image-holder">
          <img src="{% static 'assets/img/side-img.jpg' %}" alt="" />
        </div>
        <div class="steps clearfix">
          <ul class="tablist multisteps-form__progress">
            <li class="multisteps-form__progress-btn js-active current">
              <span>1</span>
            </li>
            <li class="multisteps-form__progress-btn">
              <span>2</span>
            </li>
            <li class="multisteps-form__progress-btn">
              <span>3</span>
            </li>
            <li class="multisteps-form__progress-btn">
              <span>4</span>
            </li>
            <li class="multisteps-form__progress-btn last">
              <span>5</span>
            </li>
          </ul>
        </div>
      </div>
      <form class="multisteps-form__form" action="{% url 'job:job_list'  %}" id="wizard" method="POST">
        <div class="form-area position-relative">
          <!-- div 1 -->
          <div class="multisteps-form__panel" data-animation="slideHorz">
            <div class="wizard-forms">
              <div class="inner pb-100 clearfix">
                <div class="form-content pera-content">
                  <div class="step-inner-content">
                    <span class="step-no bottom-line">Step 3</span>
                    <div class="step-progress float-end">
                      <span>3 of 5 completed</span>
                      <div class="step-progress-bar">
                        <div class="progress">
                          <div class="progress-bar" style="width: 40%"></div>
                        </div>
                      </div>
                    </div>
                    <h3>1. What is the difference between a compiler and an interpreter?</h3>
                   <!-- <p>
                      Tation argumentum et usu, dicit viderer evertitur te has.
                      Eu dictas concludaturque usu, facete detracto patrioque an
                      per, lucilius pertinacia eu vel.
                    </p> -->
                    <div class="services-select-option">
                      <ul>
                        <li class="bg-white active">
                          <label
                            >A compiler translates source code into machine code, while an interpreter executes the code directly.
                            <input
                              type="radio"
                              id="condition2"
                              name="web_service"
                              value="Web Design"
                              checked
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >A compiler executes the code directly, while an interpreter translates the code into machine code.
                            <input
                              type="radio"
                              name="web_service"
                              value="Web Development"
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >A compiler and an interpreter are the same thing.
                            <input
                              type="radio"
                              name="web_service"
                              value="Graphics Design"
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >None of the above.
                            <input type="radio" name="web_service" value="SEO"
                          /></label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ./inner -->
              <div class="actions">
                <ul>
                  <li>
                    <span class="js-btn-prev" title="BACK"
                      ><i class="fa fa-arrow-left"></i> BACK
                    </span>
                  </li>
                  <li>
                    <span class="js-btn-next" title="NEXT"
                      >NEXT <i class="fa fa-arrow-right"></i
                    ></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- div 2 -->
          <div class="multisteps-form__panel" data-animation="slideHorz">
            <div class="wizard-forms">
              <div class="inner pb-100 clearfix">
                <div class="form-content pera-content">
                  <div class="step-inner-content">
                    <span class="step-no bottom-line">Step 3</span>
                    <div class="step-progress float-end">
                      <span>3 of 5 completed</span>
                      <div class="step-progress-bar">
                        <div class="progress">
                          <div class="progress-bar" style="width: 40%"></div>
                        </div>
                      </div>
                    </div>
                    <h3>What is a stack overflow?</h3>
										<!--
                    <p>
                      Tation argumentum et usu, dicit viderer evertitur te has.
                      Eu dictas concludaturque usu, facete detracto patrioque an
                      per, lucilius pertinacia eu vel.
                    </p>-->
                    <div class="services-select-option">
                      <ul>
                        <li class="bg-white active">
                          <label
                            >Web Design
                            <input
                              type="radio"
                              id="condition2"
                              name="web_service"
                              value="Web Design"
                              checked
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >When a program's stack exceeds the maximum amount of memory allocated for it.
                            <input
                              type="radio"
                              name="web_service"
                              value="Web Development"
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >When a program's stack is too small to hold all of its variables.
                            <input
                              type="radio"
                              name="web_service"
                              value="Graphics Design"
                          /></label>
                        </li>
												<li class="bg-white">
                          <label
                            >When a program's stack is corrupted by a virus or malware.
                            <input
                              type="radio"
                              name="web_service"
                              value="Graphics Design"
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >When a program's stack is not used properly, causing it to crash.
                            <input type="radio" name="web_service" value="SEO"
                          /></label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ./inner -->
              <div class="actions">
                <ul>
                  <li>
                    <span class="js-btn-prev" title="BACK"
                      ><i class="fa fa-arrow-left"></i> BACK
                    </span>
                  </li>
                  <li>
                    <span class="js-btn-next" title="NEXT"
                      >NEXT <i class="fa fa-arrow-right"></i
                    ></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- div 3 -->
          <div class="multisteps-form__panel" data-animation="slideHorz">
            <div class="wizard-forms">
              <div class="inner pb-100 clearfix">
                <div class="form-content pera-content">
                  <div class="step-inner-content">
                    <span class="step-no bottom-line">Step 3</span>
                    <div class="step-progress float-end">
                      <span>3 of 5 completed</span>
                      <div class="step-progress-bar">
                        <div class="progress">
                          <div class="progress-bar" style="width: 40%"></div>
                        </div>
                      </div>
                    </div>
                    <h3>What is object-oriented programming?</h3>
                   <!-- <p>
                      Tation argumentum et usu, dicit viderer evertitur te has.
                      Eu dictas concludaturque usu, facete detracto patrioque an
                      per, lucilius pertinacia eu vel.
                    </p>-->
                    <div class="services-select-option">
                      <ul>
                        <li class="bg-white active">
                          <label
                            >A programming paradigm that focuses on objects and their interactions.
                            <input
                              type="radio"
                              id="condition2"
                              name="web_service"
                              value="Web Design"
                              checked
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >A programming language that is easy to learn and use.
                            <input
                              type="radio"
                              name="web_service"
                              value="Web Development"
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >A programming technique that uses a single function to perform multiple tasks.
                            <input
                              type="radio"
                              name="web_service"
                              value="Graphics Design"
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >A programming technique that does not use functions or methods.
                            <input type="radio" name="web_service" value="SEO"
                          /></label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ./inner -->
              <div class="actions">
                <ul>
                  <li>
                    <span class="js-btn-prev" title="BACK"
                      ><i class="fa fa-arrow-left"></i> BACK
                    </span>
                  </li>
                  <li>
                    <span class="js-btn-next" title="NEXT"
                      >NEXT <i class="fa fa-arrow-right"></i
                    ></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- div 4 -->
          <div class="multisteps-form__panel" data-animation="slideHorz">
            <div class="wizard-forms">
              <div class="inner pb-100 clearfix">
                <div class="form-content pera-content">
                  <div class="step-inner-content">
                    <span class="step-no bottom-line">Step 3</span>
                    <div class="step-progress float-end">
                      <span>3 of 5 completed</span>
                      <div class="step-progress-bar">
                        <div class="progress">
                          <div class="progress-bar" style="width: 40%"></div>
                        </div>
                      </div>
                    </div>
                    <h3>What is a git repository?</h3>
                    <!--<p>
                      Tation argumentum et usu, dicit viderer evertitur te has.
                      Eu dictas concludaturque usu, facete detracto patrioque an
                      per, lucilius pertinacia eu vel.
                    </p> -->
                    <div class="services-select-option">
                      <ul>
                        <li class="bg-white active">
                          <label
                            >A version control system that allows multiple developers to work on the same codebase.
                            <input
                              type="radio"
                              id="condition2"
                              name="web_service"
                              value="Web Design"
                              checked
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >A code repository that is used to store source code, documentation, and other files related to a project.
                            <input
                              type="radio"
                              name="web_service"
                              value="Web Development"
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >A database that is used to store user accounts and authentication information.
                            <input
                              type="radio"
                              name="web_service"
                              value="Graphics Design"
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >A programming language used for web development.
                            <input type="radio" name="web_service" value="SEO"
                          /></label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ./inner -->
              <div class="actions">
                <ul>
                  <li>
                    <span class="js-btn-prev" title="BACK"
                      ><i class="fa fa-arrow-left"></i> BACK
                    </span>
                  </li>
                  <li>
                    <span class="js-btn-next" title="NEXT"
                      >NEXT <i class="fa fa-arrow-right"></i
                    ></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- div 5 -->
          <div class="multisteps-form__panel" data-animation="slideHorz">
            <div class="wizard-forms">
              <div class="inner pb-100 clearfix">
                <div class="form-content pera-content">
                  <div class="step-inner-content">
                    <span class="step-no bottom-line">Step 3</span>
                    <div class="step-progress float-end">
                      <span>3 of 5 completed</span>
                      <div class="step-progress-bar">
                        <div class="progress">
                          <div class="progress-bar" style="width: 40%"></div>
                        </div>
                      </div>
                    </div>
                    <h3>What is an algorithm?</h3>
                    <!--<p>
                      Tation argumentum et usu, dicit viderer evertitur te has.
                      Eu dictas concludaturque usu, facete detracto patrioque an
                      per, lucilius pertinacia eu vel.
                    </p>-->
                    <div class="services-select-option">
                      <ul>
                        <li class="bg-white active">
                          <label
                            >A set of rules that defines how data is stored and retrieved.
                            <input
                              type="radio"
                              id="condition2"
                              name="web_service"
                              value="Web Design"
                              checked
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >A program that performs a specific task.
                            <input
                              type="radio"
                              name="web_service"
                              value="Web Development"
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >A sequence of steps that solves a problem or performs a computation.
                            <input
                              type="radio"
                              name="web_service"
                              value="Graphics Design"
                          /></label>
                        </li>
                        <li class="bg-white">
                          <label
                            >A type of data structure used to store and retrieve information quickly.
                            <input type="radio" name="web_service" value="SEO"
                          /></label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ./inner -->
              <div class="actions">
                <ul>
                  <li>
                    <span class="js-btn-prev" title="BACK"
                      ><i class="fa fa-arrow-left"></i> BACK
                    </span>
                  </li>
                  <li>
                    <span class="js-btn-next" title="NEXT"
                      >NEXT <i class="fa fa-arrow-right"></i
                    ></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </form>
    </div>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/conditionize.flexible.jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/switch.js' %}"></script>
    <script>
      $("#files").change(function () {
        filename = this.files[0].name;
        // console.log(filename);
      });

      function UploadFile() {
        var reader = new FileReader();
        var file = document.getElementById("attach").files[0];
        reader.onload = function () {
          document.getElementById("fileContent").value = reader.result;
          document.getElementById("filename").value = file.name;
          document.getElementById("wizard").submit();
        };
        reader.readAsDataURL(file);
      }

      $(document).ready(function () {
        $(".conditional").conditionize();
      });
    </script>
  </body>
</html>
