{% load static %}

<!-- Footer Section Start -->
<footer class="footer-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <div class="footer-logo">
            <a href="{% url 'home:index' %}">
              <img src="{% static 'img/logo.png' %}" alt="logo" />
            </a>
          </div>

          <p>
            Skill-Connect is a african focus platform that connect companies
            with the most talented people by accelerating high employment in the
            continent.
          </p>

          <div class="footer-social">
            <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="#" target="_blank"><i class="bx bxl-pinterest-alt"></i></a>
            <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget pl-60">
          <h3>For Candidate</h3>
          <ul>
            <li>
              <a href="{% url 'job:job_list' %}">
                <i class="bx bx-chevrons-right bx-tada"></i>
                Browse Jobs
              </a>
            </li>
            <li>
              <a href="{% url 'users:signin' %}">
                <i class="bx bx-chevrons-right bx-tada"></i>
                Account
              </a>
            </li>
            <li>
              <a href="{% url 'job:job_list' %}">
                <i class="bx bx-chevrons-right bx-tada"></i>
                Job List
              </a>
            </li>
            <li>
              <a href="{% url 'users:signup' %}">
                <i class="bx bx-chevrons-right bx-tada"></i>
                Sign Up
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget pl-60">
          <h3>Quick Links</h3>
          <ul>
            <li>
              <a href="{% url 'home:index' %}">
                <i class="bx bx-chevrons-right bx-tada"></i>
                Home
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget footer-info">
          <h3>Information</h3>
          <ul>
            <li>
              <span>
                <i class="bx bxs-phone"></i>
                Phone:
              </span>
              <a href="tel:882569756"> +101 984 754 </a>
            </li>

            <li>
              <span>
                <i class="bx bxs-envelope"></i>
                Email:
              </span>
              <a href="mailto:info@jovie.com"> info@skillconnect.com </a>
            </li>

            <li>
              <span>
                <i class="bx bx-location-plus"></i>
                Address:
              </span>
              123, Accra, Ghana
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright-text text-center">
  <p>Copyright @2021 SkillConnect.</p>
</div>
<!-- Footer Section End -->
