{% load static %}

<!-- Pre-loader Start -->
<div class="loader-content">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
  </div>
</div>
<!-- Pre-loader End -->

<!-- Navbar Area Start -->
<div class="navbar-area">
  <!-- Menu For Mobile Device -->
  <div class="mobile-nav">
    <a href="{% url 'home:index' %}" class="logo">
      <img src="{% static 'img/logo.png' %}" alt="logo" />
    </a>
  </div>

  <!-- Menu For Desktop Device -->
  <div class="main-nav">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'home:index' %}">
          <img src="{% static 'img/logo.png' %}" alt="logo" />
        </a>
        <div
          class="collapse navbar-collapse mean-menu"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav m-auto">

            <li class="nav-item">
              <a
                href="{% url 'home:index' %}" class="nav-link"
                >Home</a
              >
            </li>

            <li class="nav-item">
                  <a href="{% url 'job:job_list' %}" class="nav-link">Find A Job</a>
            </li>

            <li class="nav-item">
                  <a href="{% url 'companies:create_job' %}" class="nav-link">Post A Job</a>
                </li>
              </ul>
            </li>
  

          <div class="other-option">
            <a href="{% url 'users:signup' %}" class="signup-btn">Sign Up</a>
            <a href="{% url 'users:signin' %}" class="signin-btn">Sign In</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- Navbar Area End -->
